@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

// variables
$font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
$text-black: #000000;
$text-white: #FFFFFF;
$text-whitesmoke: whitesmoke;
$text-antiquewhite: antiquewhite;
$text-red:#ff0000;
$text-lightGrayishRed: #fadddd;
$bg-desaturatedRed: #633628;
$bg-darkLimeGreen: #0e380e;
$bg-burlywood: #deb887;
$bg-pink: #ffc0cb;
$bg-cyanBlack: #212d2e;
$bg-brightCyan: #32c3f3;
$bg-darkYellow: #a08e54;
$bg-darkred: #ad3838;
$border-yellow: #ffff00;
$bs-blackred: #221c1c;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    line-height: 2;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 900px;

  #copyrights {
    margin: 3px;
    color: $text-black;
  }
}

section {
padding: 50px 0;
text-align: center;
}

header {
  color: $text-white;
  background-color: $bg-desaturatedRed;
  padding: 30px 0;
  text-align: center;
  h1 {
    font-size: 48px;
    margin: 0 0 15px 0;
  }
  h2 {
    font: {
      weight: 270;
      size: 22px;
    }
    margin: 0 0 15px 0;
  }

  .btn {
    display: inline-block;
    color: $text-red;
    font-weight: 400;
    background: $bg-darkLimeGreen;
    border: 1px solid $border-yellow;
    border-radius: 18px; /*makes rounded corners*/
    padding: 14px 18px;
    cursor: pointer;
  }

  .btn:hover { /* mouse over the button changes bg colour*/
    background: $bg-burlywood;
    color: $text-whitesmoke; /* mouse over button changes text colour*/
  }

  .submenu {
    left: 50%;
    transform: translate(-50%, 0);
    text-align:center;
    position: absolute;
    background-color: $bg-pink;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px $bs-blackred;
    display: none; /* this style hides the submenu by default default*/
  
    a {
      color: $text-red;
      padding: 10px 12px;
      text-decoration: none;
      display: block;
    }
  
    a:hover {
      background-color: $bg-cyanBlack;
    }
  }
}

.features {
  background: #ffffff79;
  color: $text-black;

  .feature {
    width: 30%;
    display: inline-block;
  
    i {
      font-size: 5rem;
    }
  }
}

.quote {
  background: $bg-darkYellow;
  color:$text-white;
}

footer {
  background: $bg-darkred;
  padding: 27px 0;
  text-align: center;
  color: $text-lightGrayishRed;
  font-size: 14px;

  ul {
    list-style: none; /*To make the menu list horizontal and remove the bullets*/
    margin: 0px;
    padding: 0px;

    li {
      /* display: inline-block; this style makes the links inline-level element containers and so they are positioned next to each other horizontally by default.*/
      /* the display: block style makes the list items block level elements so they take the entire width of their container. This makes the items align under each other*/
      display: block; 
      margin: 3px;

      a {
        padding: 7px;
        text-decoration: none;
        color: $text-black;
        font-size: 14px;
      }

      a:hover {
        color: $text-antiquewhite;
      }
    }
  }
}


@media screen and (max-width: 576px) { /*changes the colour of the body tag and the mentioned screen size*/ 
  body {
    background-color: $bg-brightCyan;
  }
  .btn { /*changes the size of the download button on a small screen(576px and below)*/
    display: block; /*takes the whole width of the container*/
    font-size: 15px;
  } 
  h1 {
    font-size: 30px;
    margin: 0px 0px 7px 0px;
  } 
  h2 {
    font-size: 16px;
  }
  section {
    padding: 20px 0px 10px 0px;
  }
  .feature {
    width: 100%;
    /*set display property to flex which makes the div a flexbox container. 
    This allows us to position the child features horizontally and also set the alignment of its child elements 
    -- the icon and the text -- using the align-items and justify-content properties.
    Now, the features will be aligned next to each other on larger screens and under each other on smaller screens.*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0px 0px 10px 0px;
    font-size: 14px;

    i {
      width: 8%;
      min-width: 120px;
      margin-right: 18px;
    }
  }

  .submenu {
    position: relative;
    width: 100%;
  }

}